<h1>内容確認ページ</h1>

<ul class="media-list">
  <% @discontents.each do |discontent| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(discontent.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to discontent.user.name, user_path(discontent.user) %> <span class="text-muted">posted at <%= discontent.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <div>
          <p>カテゴリー : <%= discontent.category.name %></p>
          <p><%= discontent.title %></p>
          <p><%= discontent.content %></p>
        </div>
        <div>
          <% if current_user == discontent.user %>
            <%= link_to "Delete", discontent, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
          
        </div>
        <%= link_to "YES", kakuninns_path(discontent_id: discontent.id, naiyou_id: "yes"), method: :post,  class: 'btn btn-primary' %>
        <%= link_to "NO", kakuninns_path(discontent_id: discontent.id, naiyou_id: "no"), method: :post,  class: 'btn btn-danger' %>
      </div>
    </li>
  <% end %>
  <%= paginate @discontents %>
</ul>