<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <h4>本日はあと、<%= @count_current_user_discontents %>件不満を投稿できます！</h4>
    <h4>現在のキャシュ：<%= @count_current_user_cash %>円です</h4>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>投稿した不満 <span class="badge"><%= @count_discontents %></span><% end %></li>
      <li class="<%= 'active' if current_page?(likes_user_path(@user)) %>"><%= link_to likes_user_path(@user) do %>わかる！！一覧 <span class="badge"><%= @count_likes %></span><% end %></li>
      
    </ul>
    <%= render 'discontents/discontents', discontents: @discontents %>
  </div>
</div>