<h1>カテゴリー一覧</h1>

<h4><%= link_to '特別養護老人ホーム', category_path(id: 1) %></h4>
<h4><%= link_to '介護老人保健施設', category_path(id: 2) %></h4>
<h4><%= link_to '療養病床', category_path(id: 3) %></h4>
<h4><%= link_to '老人ホーム', category_path(id: 4) %></h4>
<h4><%= link_to 'グループホーム', category_path(id: 5) %></h4>
<h4><%= link_to 'デイサービス', category_path(id: 6) %></h4>
<h4><%= link_to '小規模多機能居宅', category_path(id: 7) %></h4>
<h4><%= link_to '訪問介護', category_path(id: 8) %></h4>
<h4><%= link_to '訪問看護', category_path(id: 9) %></h4>
<h4><%= link_to 'デイケア', category_path(id: 10) %></h4>
<h4><%= link_to '居宅介護支援（ケアマネ）', category_path(id: 11) %></h4>
<h4><%= link_to '福祉用具貸与', category_path(id: 12) %></h4>
<h4><%= link_to '障がい者福祉　訪問介護', category_path(id: 13) %></h4>
<h4><%= link_to '障がい者福祉　行動援護、同行援護', category_path(id: 14) %></h4>
<h4><%= link_to '障がい者福祉　療養介護', category_path(id: 15) %></h4>
<h4><%= link_to '障がい者福祉　生活介護', category_path(id: 16) %></h4>
<h4><%= link_to '障がい者福祉　ケアホーム、グループホーム', category_path(id: 17) %></h4>
<h4><%= link_to '障がい者福祉　就労支援移行', category_path(id: 18) %></h4>
<h4><%= link_to '障がい者福祉　施設入所支援', category_path(id: 19) %></h4>
<h4><%= link_to '児童福祉　児童デイサービス等', category_path(id: 20) %></h4>
<h4><%= link_to '医療　病院', category_path(id: 21) %></h4>
<h4><%= link_to '医療　クリニック', category_path(id: 22) %></h4>
<h4><%= link_to '医療　歯科医院', category_path(id: 23) %></h4>
<h4><%= link_to '保育園', category_path(id: 24) %></h4>
<h4><%= link_to '整骨院、マッサージ院', category_path(id: 25) %></h4>
<h4><%= link_to '行政（自治体）', category_path(id: 26) %></h4>
<h4><%= link_to 'その他', category_path(id: 27) %></h4>

